/ This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
/ calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").
/ The link variable is set to a proc that returns the link tag.
/ Usage: link.call( page_number [, text [, extra_attributes_string ]])
- link = pagy_link_proc(pagy)

.text-center.mt-4
  nav.pagy_nav.pagination role="navigation" aria-label="pager"

    - if pagy.prev
      span.page.prev ==> link.call(pagy.prev, "<", 'aria-label="previous" class="bg-yellow-400 text-white px-2 py-1"')
    - else
      span.page.prev.disabled.bg-yellow-300.text-white.px-2.py-1 ==> "<"

    - pagy.series.each do |item|        # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]
      - if item.is_a?(Integer)          # page link
        span.page ==> link.call(item, item, 'class="bg-yellow-400 text-white px-2 py-1"')

      - elsif item.is_a?(String)        # current page
        span.page.current.bg-yellow-500.text-white.px-2.py-1 ==> item

      - elsif item == :gap              # page gap
        span.page.gap ==> "&hellip;"

    - if pagy.next
      span.page.next == link.call(pagy.next, ">", 'aria-label="next" class="bg-yellow-400 text-white px-2 py-1"')
    - else
      span.page.next.disabled.bg-yellow-300.text-white.px-2.py-1 == ">"
