.shadow-2xl.bg-white.items-stretch.h-full style='width: 350px; min-width: 300px;'
  = link_to workspace_dashboard_path do
    .mb-5.p-8= image_tag 'logo2.png'
  .ml-5
    - %i[dashboard hr users hr work_entries].each do |key|
      = sidebar_entry(key)
    = link_to workspace_absence_requests_path, class: "font-semibold #{'text-yellow-500' if request.path.include?('absence_requests')}" do
      .p-2
        .inline-block.w-7= t('.absence_requests.icon')
        span= t('.absence_requests.text', 
                pending: (pending = AbsenceRequestPolicy.new(user: current_workspace_user).authorized_scope(AbsenceRequest.all).pending).any? ? "(#{pending.count})" : '')
    - %i[construction_sites absence_reasons].each do |key|
      = sidebar_entry(key)
    - if current_workspace_user.owner?
      - %i[hr estimations materials clients].each do |key|
        = sidebar_entry(key)

  hr.mt-5
  - if notice
    p#notice.text-center.text-green-400.my-5= notice
    hr
  p#alert.text-center.text-red-400.my-5= alert
