.h-10.w-full.flex.items-center.text-gray-600
  / .text-xl.font-bold.px-2.xl:hidden.open-sidebar
  .justify-end.flex.w-full.items-center
    = link_to t('sign_out'), destroy_workspace_user_session_path, method: :delete, class: 'hover:underline'
    span.text-lg.ml-5= current_workspace_user.first_name
hr