div style='padding: 10px'
  / = wicked_pdf_image_tag 'logo.svg'
  = image_tag   wicked_pdf_asset_base64('logo.png')
  h1= "Wycena - #{@estimation.name} - #{@estimation.client.first_name} #{@estimation.client.last_name}"
  hr
  div style='margin-left: 10px; font-size: 1.3em'
    - @estimation.estimation_rooms.each do |room|
      h3= room.name
      div style='display: flex; display: -webkit-box'
        ul style='flex: 1; -webkit-flex: 1; -webkit-box-flex: 1; width: 50%'
          - room.estimation_items.each do |item|
            li= item.material.name
        ul style='flex: 1; -webkit-flex: 1; -webkit-box-flex: 1;'
          - room.estimation_items.each do |item|
            li= "#{item.quantity} x #{item.material.price} = #{(item.quantity * item.material.price).round(2)} zł"
