.h-screen.w-screen
  .w-full.h-20.bg-white.text-center.align-middle.pt-3.text-gray-700.text-2xl.shadow-lg	
     | EmkaOne
  .mt-10.mx-auto.text-center
    - if current_workspace_user
      = "#{t('welcome')} #{current_workspace_user.first_name}! "
      span.text-blue-600.hover:underline= link_to 'Dashboard', workspace_dashboard_path
    - else
      = link_to t('sign_in'), new_workspace_user_session_path, class: 'px-4 py-2 rounded text-white inline-block shadow-lg bg-blue-500 hover:bg-blue-600 focus:bg-blue-700'
