.full-width-fields= simple_form_for [:workspace, subject_resource] do |f|
  = f.error_notification

  .w-full.grid.grid-cols-3.gap-4
    - form_attributes.each do |attribute|
      div
        - if attribute.is_a?(Symbol)
          = f.input attribute
        - else
          = attribute.(self, f)

  = f.button :submit if subject_resource.persisted? ? allowed_to?(:update?, subject_resource) : allowed_to?(:create?, subject_resource)
