table.table
  thead
    tr
      - table_attributes.each do |attribute|
        - if attribute.is_a?(Symbol)
          th= ta(subject_class, attribute)
        - else
          th= ta(subject_class, attribute.first)
      th colspan=(2 + (additional_table_actions&.count || 0)).to_s 
  tbody
    - send(subject_symbol.pluralize).each do |resource|
      tr
        - table_attributes.each do |attribute|
          - if attribute.is_a?(Symbol)
            td= resource.send(attribute)
          - else
            td= attribute.second.(self, resource)
        - if additional_table_actions&.any?
          - additional_table_actions.each do |action|
            td.w-8= action.(self, resource)
        td.w-8= link_to '✏️', send("edit_workspace_#{subject_symbol}_path", resource)
        td.w-8= link_to '🗑️', send("workspace_#{subject_symbol}_path", resource), method: :delete, data: { confirm: t('sure') } if allowed_to?(:destroy?, resource.object)
