= content_for(:page_title)
  = "#{t('edit')} #{tc(subject_class)}"
= content_for(:page_actions)
  = link_to t('list'), send("workspace_#{subject_symbol.pluralize}_path"), class: 'action-button'

.card.w-full
  - if lookup_context.find_all("workspace/#{subject_symbol.pluralize}/_form").any?
    = render "workspace/#{subject_symbol.pluralize}/form"
  - else
    = render "crud/form"
