= content_for(:page_title)
  = t("workspace.#{subject_symbol.pluralize}.index.title")
= content_for(:page_actions)
  = link_to "+ #{t('add')}", send("new_workspace_#{subject_symbol}_path"), class: 'action-button' if allowed_to?(:create?, subject_class)

.table-container
  - if lookup_context.find_all("workspace/#{subject_symbol.pluralize}/_table").any?
    = render "workspace/#{subject_symbol.pluralize}/table"
  - else
    = render "crud/table"

== render 'pagy/nav', pagy: @pagy if @pagy.pages > 1