.nested-fields.border-l-2.pl-2.border-yellow-400.mb-4
  .flex
    = f.input :name
    = link_to_remove_association t('remove'), f, class: 'self-end mx-2 bg-red-400 btn btn--small'
  .estimation-items.pl-14
    = f.simple_fields_for :estimation_items do |estimation_item|
      = render 'estimation_item_fields', f: estimation_item
    .links
      = link_to_add_association t('.add_item'), f, :estimation_items, class: 'bg-blue-900 btn btn--small'
