.nested-fields
  .flex.gap-x-3
    = f.association :material,
                    collection: MaterialPolicy.new(user: current_workspace_user).authorized_scope(Material.all).decorate,
                    include_blank: false
    = f.input :quantity
    = link_to_remove_association t('remove'), f, class: 'self-end mx-2 bg-red-400 btn btn--small'
