= simple_form_for [:workspace, @estimation] do |f|
  = f.error_notification

  = f.input :name
  = f.association :client,
                  collection: ClientPolicy.new(user: current_workspace_user).authorized_scope(Client.all).decorate,
                  include_blank: false
  = f.button :submit
  hr.my-5
  .text-lg.font-bold= t('.estimation_rooms')
  #estimation-rooms.cocoon
    = f.simple_fields_for :estimation_rooms do |estimation_room|
      = render 'estimation_room_fields', f: estimation_room
    .links
      = link_to_add_association t('.add_room'), f, :estimation_rooms, class: 'bg-blue-700 btn btn--small'

