.mt-10.mb-5.text-4xl.font-bold= [t('latest'), t('workspace.absence_requests.index.title').downcase].join(' ')
table.table
  thead
    tr
      - %i[employee from to status absence_reason note].each do |key|
        th= ta(AbsenceRequest, key)
      th colspan=4 
  tbody
    - absence_requests.each do |resource|
      tr
        - [:employee,
          :from,
          :to,
          [:status, proc { |ctx, res| ctx.te(AbsenceRequest, :status, res.status) }],
          :absence_reason,
          :note].each do |attribute|
          - if attribute.is_a?(Symbol)
            td= resource.send(attribute)
          - else
            td= attribute.second.(self, resource)
        - if !resource.rejected? && allowed_to?(:reject?, resource.object)
          td.w-8= link_to '❌', workspace_absence_request_path(resource,
                    absence_request: { status: :rejected }, referer: workspace_dashboard_path), method: :put
        - else
          td.w-8
        - if !resource.accepted? && allowed_to?(:accept?, resource.object)
          td.w-8= link_to '✔️', workspace_absence_request_path(resource,
                    absence_request: { status: :accepted }, referer: workspace_dashboard_path), method: :put
        - else
          td.w-8
        td.w-8= link_to '✏️', edit_workspace_absence_request_path(resource)
        td.w-8= link_to '🗑️', workspace_absence_request_path(resource, referer: workspace_dashboard_path),
                        method: :delete, data: { confirm: t('sure') } if allowed_to?(:destroy?, resource.object)
