.flex.justify-around
  = link_to t('.new_work_entry'), new_workspace_work_entry_path, class: 'btn'
  = link_to t('.new_absence_request'), new_workspace_absence_request_path, class: 'btn'
= render 'work_entries'
= render 'absence_requests'