.mt-10.mb-5.text-4xl.font-bold= [t('latest'), t('workspace.work_entries.index.title').downcase].join(' ')
table.table
  thead
    tr
      - %i[day employee construction_site absence_reason spent_time notes].each do |key|
        th= ta(WorkEntry, key)
      th colspan=2 

  tbody
    - work_entries.each do |work_entry|
      tr
        - %i[day employee construction_site absence_reason spent_time notes].each do |key|
          td= work_entry.send(key)
        td.w-8= link_to '✏️', edit_workspace_work_entry_path(work_entry)
        td.w-8= link_to '🗑️', workspace_work_entry_path(work_entry, referer: workspace_dashboard_path),
                        method: :delete, data: { confirm: t('sure') } if allowed_to?(:destroy?, work_entry.object)
