.flex.items-center.justify-center.mt-10
  .w-full.max-w-md
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'bg-white shadow-lg rounded px-12 pt-6 pb-8 mb-4' }) do |f|
      .text-gray-800.text-2xl.flex.justify-center.border-b-2.py-2.mb-4
        = "Emka One - #{t('sign_in')}"
      .mb-4
        label.block.text-gray-700.text-sm.font-normal.mb-2 for="email" 
          = ta(User, :email)
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
      .mb-6
        label.block.text-gray-700.text-sm.font-normal.mb-2 for="password" 
          = ta(User, :password)
        = f.password_field :password, autocomplete: "current-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline'
      .mb-6
        = f.check_box :remember_me
        label.block.text-gray-700.text-sm.font-normal.ml-2.inline-block for="workspace_user_remember_me" 
          = ta(User, :remember_me)
      .flex.items-center.justify-between
        button.px-4.py-2.rounded.text-white.inline-block.shadow-lg.bg-blue-500.hover:bg-blue-600.focus:bg-blue-700 type="submit"  Zaloguj
        / a.inline-block.align-baseline.font-normal.text-sm.text-blue-500.hover:text-blue-800 href="#" 
        /   | Forgot Password?

