@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #36383a, 100%
}

@layer components {
  .input {
    abbr {
      @apply no-underline;
      font-size: 0.8em;
    }

    input, select, textarea {
      @apply block border border-gray-500 p-1;
    }

    input {
      &.boolean {
        @apply inline-block mr-1;
      }
    }

    &.date, &.datetime {
      select {
        @apply inline-block mr-1;
      }
      label {
        @apply block;
      }
    }

    &.field_with_errors {
      input {
        @apply border-red-500;
      }
    }

    span.error {
      @apply text-sm text-red-600;
    }
  }

  .error_notification {
    color: red;
  }

  .page-header {
    @apply flex justify-between items-center;

    .page-title {
      @apply mt-10 mb-5 text-4xl font-bold;
    }
  }

  .action-button {
    @apply text-white font-bold bg-yellow-500 px-8 py-4 block;
  }

  .btn {
    @apply text-white bg-yellow-500 px-4 py-2 my-2 inline-block cursor-pointer;

    &.btn--small {
      @apply text-sm px-3 py-1 my-2;
    }
  }

  .table {
    @apply shadow-md w-full; 

    thead {
      @apply bg-gray-50 text-gray-600 font-bold text-left;

      th {
        @apply p-4;
      }
    }

    tbody {
      td {
        @apply p-4;
      }
    }
  }

  .card {
    @apply shadow-md p-10 inline-block;
  }

  .full-width-fields {
    input, select, textarea {
      @apply w-full;

      &.date, &.datetime, &.boolean, &.btn, {
        width: auto;
      }
    }
  }

}