<!DOCTYPE html>
<html>
  <head>
    <title>EmkaOne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert" class="text-center text-red-400"><%= alert %></p>
    <hr />
    <%= yield %>
  </body>
</html>
