html
  head
    title EmkaOne
    meta charset="utf-8"
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag

    / = wicked_pdf_stylesheet_link_tag  'application', media: 'all'

  body
    = yield
