- unless Rails.env.test? # TODO: Why when this is removed workspace requests specs take 15seconds+ ?????
  doctype html
  html.h-full
    head
      meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
      title EmkaOne
      meta content="width=device-width,initial-scale=1" name="viewport"
      link rel="icon" href="/favicon.ico"
        = csrf_meta_tags
        = csp_meta_tag
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
        = stylesheet_pack_tag "application", "data-turbo-track": "reload"
    body.h-full
      .flex.h-full
        = render 'layouts/workspace/sidebar' 
        .flex.w-full.h-full.flex-col
          .px-4.w-full= render 'layouts/workspace/topbar'
          #content.px-8.pb-2.w-full.overflow-auto
            .page-header
              .page-title
                = yield(:page_title)
              .page-actions
                = yield(:page_actions)
            = yield
